In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame(data=[
  {'Name': "panda", 'Age': 5,},
  {'Name': "usagi", 'Age': 11,},
  {'Name': "koara", 'Age': 45}
])
df.columns=pd.MultiIndex.from_tuples(zip(["2020-12-01", ""],df.columns))
df

  2020-12-01
        Name Age
0      panda   5
1      usagi  11
2      koara  45

In [ ]:
# df.to_excel("test.xlsx", index=False, startrow=1)
df.to_excel("test.xlsx", index=False)