In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
target_col = [2,3,4]
target_col

[2, 3, 4]

In [3]:
dn = pd.DataFrame(data={'line': ['0']})

In [4]:
dir_list = glob.glob("./data/mini_sample/*.xlsx")
dir_list

['./data/mini_sample\\가평_2018.xlsx',
 './data/mini_sample\\가평_2019.xlsx',
 './data/mini_sample\\서상_2019.xlsx',
 './data/mini_sample\\의암호_2019.xlsx',
 './data/mini_sample\\화천_2019.xlsx']

In [5]:
df_list = []
for f in dir_list:
    df = pd.read_excel(f)
    df_list.append(df)
    df_list.append(dn)
    print(df.columns.tolist())

['측정날짜', '수계', '측정소명', 'MSR_DATE_R', '총유기탄소', '총질소', '총인', '클로로필-a', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '미생물 독성지수']
['측정날짜', '측정소명', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인', '클로로필-a', '미생물_독성지수']
['측정날짜', '측정소명', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인', '클로로필-a']
['측정날짜', '측정소명', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인', '클로로필-a']
['측정날짜', '측정소명', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인']

In [6]:
pd.concat([df_list[0], df_list[1], df_list[2], df_list[3], df_list[4]])

,측정날짜,수계,측정소명,MSR_DATE_R,총유기탄소,총질소,총인,클로로필-a,수온,수소이온농도,전기전도도,용존산소,탁도,미생물 독성지수,line,미생물_독성지수
0,20180101000000,한강,가평,2.018010e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20180101010000,한강,가평,2.018010e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20180507230000,한강,가평,2.018051e+13,1.0,11.0,111.000,1111.0,16.35000,8.36083,116.54167,11.20,3.57500,-0.02000,NaN,NaN
3,20180508000000,한강,가평,2.018051e+13,2.0,22.0,222.000,2222.0,16.19167,8.29167,116.40833,11.05,3.40833,0.91583,NaN,NaN
4,20180508010000,한강,가평,2.018051e+13,3.0,33.0,333.000,3333.0,16.10000,8.29833,117.00000,11.00,3.28333,0.76250,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
0,2019.01.01 00:00,NaN,가평,NaN,1.0,11.0,0.004,3.8,2.80000,6.80000,97.00000,12.60,0.50000,NaN,NaN,4.5
1,2019.01.01 01:00,NaN,가평,NaN,2.0,22.0,0.005,4.1,2.80000,6.80000,97.00000,12.60,0.60000,NaN,NaN,2.5
2,2019.01.01 02:00,NaN,가평,NaN,3.0,33.0,0.003,3.8,2.80000,6.80000,97.00000,12.60,0.40000,NaN,NaN,1.0
3,2019.01.01 03:00,NaN,가평,NaN,4.0,44.0,0.005,3.9,2.70000,6.80000,97.00000,12.60,0.50000,NaN,NaN,1.0
4,2019.01.01 04:00,NaN,가평,NaN,5.0,55.0,0.004,3.9,2.80000,6.80000,97.00000,12.50,0.50000,NaN,NaN,-0.4
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
0,2019.01.01 00:00,NaN,서상,NaN,1.0,11.0,0.011,NaN,1.20000,7.50000,91.00000,13.80,0.50000,NaN,NaN,NaN
1,2019.01.01 01:00,NaN,서상,NaN,2.0,22.0,0.008,NaN,1.10000,7.50000,92.00000,14.00,0.50000,NaN,NaN,NaN
2,2019.01.01 02:00,NaN,서상,NaN,3.0,33.0,0.007,NaN,1.00000,7.50000,92.00000,13.90,0.50000,NaN,NaN,NaN
3,2019.01.01 03:00,NaN,서상,NaN,4.0,44.0,0.009,NaN,0.90000,7.50000,91.00000,13.80,0.50000,NaN,NaN,NaN
4,2019.01.01 04:00,NaN,서상,NaN,5.0,55.0,0.011,NaN,1.00000,7.50000,91.00000,13.80,0.50000,NaN,NaN,NaN

In [8]:
x = pd.concat(df_list).drop('line', axis=1)
x

,측정날짜,수계,측정소명,MSR_DATE_R,총유기탄소,총질소,총인,클로로필-a,수온,수소이온농도,전기전도도,용존산소,탁도,미생물 독성지수,미생물_독성지수
0,20180101000000,한강,가평,2.018010e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20180101010000,한강,가평,2.018010e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20180507230000,한강,가평,2.018051e+13,1.0,11.0,111.000,1111.0,16.35000,8.36083,116.54167,11.20,3.57500,-0.02000,NaN
3,20180508000000,한강,가평,2.018051e+13,2.0,22.0,222.000,2222.0,16.19167,8.29167,116.40833,11.05,3.40833,0.91583,NaN
4,20180508010000,한강,가평,2.018051e+13,3.0,33.0,333.000,3333.0,16.10000,8.29833,117.00000,11.00,3.28333,0.76250,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2019.01.01 00:00,NaN,가평,NaN,1.0,11.0,0.004,3.8,2.80000,6.80000,97.00000,12.60,0.50000,NaN,4.5
1,2019.01.01 01:00,NaN,가평,NaN,2.0,22.0,0.005,4.1,2.80000,6.80000,97.00000,12.60,0.60000,NaN,2.5
2,2019.01.01 02:00,NaN,가평,NaN,3.0,33.0,0.003,3.8,2.80000,6.80000,97.00000,12.60,0.40000,NaN,1.0
3,2019.01.01 03:00,NaN,가평,NaN,4.0,44.0,0.005,3.9,2.70000,6.80000,97.00000,12.60,0.50000,NaN,1.0
4,2019.01.01 04:00,NaN,가평,NaN,5.0,55.0,0.004,3.9,2.80000,6.80000,97.00000,12.50,0.50000,NaN,-0.4
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2019.01.01 00:00,NaN,서상,NaN,1.0,11.0,0.011,NaN,1.20000,7.50000,91.00000,13.80,0.50000,NaN,NaN
1,2019.01.01 01:00,NaN,서상,NaN,2.0,22.0,0.008,NaN,1.10000,7.50000,92.00000,14.00,0.50000,NaN,NaN
2,2019.01.01 02:00,NaN,서상,NaN,3.0,33.0,0.007,NaN,1.00000,7.50000,92.00000,13.90,0.50000,NaN,NaN
3,2019.01.01 03:00,NaN,서상,NaN,4.0,44.0,0.009,NaN,0.90000,7.50000,91.00000,13.80,0.50000,NaN,NaN
4,2019.01.01 04:00,NaN,서상,NaN,5.0,55.0,0.011,NaN,1.00000,7.50000,91.00000,13.80,0.50000,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2019.01.01 00:00,NaN,의암호,NaN,1.0,11.0,0.001,8.0,3.00000,7.20000,91.00000,12.20,0.70000,NaN,NaN
1,2019.01.01 01:00,NaN,의암호,NaN,2.0,22.0,0.002,8.1,3.00000,7.20000,91.00000,12.10,0.80000,NaN,NaN
2,2019.01.01 02:00,NaN,의암호,NaN,3.0,33.0,0.002,8.2,3.00000,7.20000,91.00000,12.10,0.80000,NaN,NaN
3,2019.01.01 03:00,NaN,의암호,NaN,4.0,44.0,0.003,8.4,3.10000,7.20000,90.00000,12.10,0.80000,NaN,NaN
4,2019.01.01 04:00,NaN,의암호,NaN,5.0,55.0,0.002,8.5,3.10000,7.20000,90.00000,12.10,0.80000,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2019.01.01 00:00,NaN,화천,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019.01.01 01:00,NaN,화천,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.07.23 18:00,NaN,화천,NaN,1.0,NaN,0.008,NaN,29.20000,8.90000,125.00000,9.40,2.00000,NaN,NaN
3,2019.07.23 19:00,NaN,화천,NaN,2.0,22.0,0.011,NaN,29.10000,8.80000,125.00000,9.30,2.10000,NaN,NaN
4,2019.07.23 20:00,NaN,화천,NaN,3.0,33.0,0.014,NaN,28.80000,8.90000,125.00000,9.10,1.80000,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
target_all_list = [n for n in range(2, x.columns.size)]
target_all_list

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [12]:
x.columns.tolist()[2:]

['측정소명',
 'MSR_DATE_R',
 '총유기탄소',
 '총질소',
 '총인',
 '클로로필-a',
 '수온',
 '수소이온농도',
 '전기전도도',
 '용존산소',
 '탁도',
 '미생물 독성지수',
 '미생물_독성지수']

In [14]:
col_name_list = []
for t in [0,2,4,5]:
    col_name_list.append(x.columns.tolist()[t])
col_name_list

['측정날짜', '측정소명', '총유기탄소', '총질소']

In [16]:
x.loc[:, col_name_list]

               측정날짜 측정소명  총유기탄소   총질소
0    20180101000000   가평    NaN   NaN
1    20180101010000   가평    NaN   NaN
2    20180507230000   가평    1.0  11.0
3    20180508000000   가평    2.0  22.0
4    20180508010000   가평    3.0  33.0
0               NaN  NaN    NaN   NaN
0  2019.01.01 00:00   가평    1.0  11.0
1  2019.01.01 01:00   가평    2.0  22.0
2  2019.01.01 02:00   가평    3.0  33.0
3  2019.01.01 03:00   가평    4.0  44.0
4  2019.01.01 04:00   가평    5.0  55.0
0               NaN  NaN    NaN   NaN
0  2019.01.01 00:00   서상    1.0  11.0
1  2019.01.01 01:00   서상    2.0  22.0
2  2019.01.01 02:00   서상    3.0  33.0
3  2019.01.01 03:00   서상    4.0  44.0
4  2019.01.01 04:00   서상    5.0  55.0
0               NaN  NaN    NaN   NaN
0  2019.01.01 00:00  의암호    1.0  11.0
1  2019.01.01 01:00  의암호    2.0  22.0
2  2019.01.01 02:00  의암호    3.0  33.0
3  2019.01.01 03:00  의암호    4.0  44.0
4  2019.01.01 04:00  의암호    5.0  55.0
0               NaN  NaN    NaN   NaN
0  2019.01.01 00:00   화천    NaN   NaN
1  2019.01.01 01:00   화천    NaN   NaN
2  2019.07.23 18:00   화천    1.0   NaN
3  2019.07.23 19:00   화천    2.0  22.0
4  2019.07.23 20:00   화천    3.0  33.0
0               NaN  NaN    NaN   NaN