In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
target_col = [2,3,4]
target_col

[2, 3, 4]

In [3]:
dn = pd.DataFrame(data={'line': ['0']})

In [4]:
dir_list = glob.glob("./data/mini_sample/*.xlsx")
dir_list

['./data/mini_sample\\가평_2018.xlsx',
 './data/mini_sample\\가평_2019.xlsx',
 './data/mini_sample\\서상_2019.xlsx',
 './data/mini_sample\\의암호_2019.xlsx',
 './data/mini_sample\\화천_2019.xlsx']

In [5]:
df_list = []
for f in dir_list:
    df = pd.read_excel(f)
    df_list.append(df)
    df_list.append(dn)
    print(df.columns.tolist())

['측정날짜', '수계', '측정소명', 'MSR_DATE_R', '총유기탄소', '총질소', '총인', '클로로필-a', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '미생물 독성지수']
['측정날짜', '측정소명', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인', '클로로필-a', '미생물_독성지수']
['측정날짜', '측정소명', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인', '클로로필-a']
['측정날짜', '측정소명', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인', '클로로필-a']
['측정날짜', '측정소명', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인']

In [6]:
pd.concat([df_list[0], df_list[1], df_list[2], df_list[3], df_list[4]])

,측정날짜,수계,측정소명,MSR_DATE_R,총유기탄소,총질소,총인,클로로필-a,수온,수소이온농도,전기전도도,용존산소,탁도,미생물 독성지수,line,미생물_독성지수
0,20180101000000,한강,가평,2.018010e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20180101010000,한강,가평,2.018010e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20180507230000,한강,가평,2.018051e+13,2.45083,2.047,0.00383,51.10833,16.35000,8.36083,116.54167,11.20,3.57500,-0.02000,NaN,NaN
3,20180508000000,한강,가평,2.018051e+13,2.39142,2.053,0.00400,49.49167,16.19167,8.29167,116.40833,11.05,3.40833,0.91583,NaN,NaN
4,20180508010000,한강,가평,2.018051e+13,2.39092,2.050,0.00358,48.74167,16.10000,8.29833,117.00000,11.00,3.28333,0.76250,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
0,2019.01.01 00:00,NaN,가평,NaN,1.40000,1.771,0.00400,3.80000,2.80000,6.80000,97.00000,12.60,0.50000,NaN,NaN,4.5
1,2019.01.01 01:00,NaN,가평,NaN,1.40000,1.812,0.00500,4.10000,2.80000,6.80000,97.00000,12.60,0.60000,NaN,NaN,2.5
2,2019.01.01 02:00,NaN,가평,NaN,1.40000,1.765,0.00300,3.80000,2.80000,6.80000,97.00000,12.60,0.40000,NaN,NaN,1.0
3,2019.01.01 03:00,NaN,가평,NaN,1.40000,1.775,0.00500,3.90000,2.70000,6.80000,97.00000,12.60,0.50000,NaN,NaN,1.0
4,2019.01.01 04:00,NaN,가평,NaN,1.40000,1.774,0.00400,3.90000,2.80000,6.80000,97.00000,12.50,0.50000,NaN,NaN,-0.4
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
0,2019.01.01 00:00,NaN,서상,NaN,1.50000,1.450,0.01100,NaN,1.20000,7.50000,91.00000,13.80,0.50000,NaN,NaN,NaN
1,2019.01.01 01:00,NaN,서상,NaN,1.50000,1.443,0.00800,NaN,1.10000,7.50000,92.00000,14.00,0.50000,NaN,NaN,NaN
2,2019.01.01 02:00,NaN,서상,NaN,1.60000,1.457,0.00700,NaN,1.00000,7.50000,92.00000,13.90,0.50000,NaN,NaN,NaN
3,2019.01.01 03:00,NaN,서상,NaN,1.60000,1.471,0.00900,NaN,0.90000,7.50000,91.00000,13.80,0.50000,NaN,NaN,NaN
4,2019.01.01 04:00,NaN,서상,NaN,1.50000,1.475,0.01100,NaN,1.00000,7.50000,91.00000,13.80,0.50000,NaN,NaN,NaN

In [9]:
pd.concat(df_list)

,측정날짜,수계,측정소명,MSR_DATE_R,총유기탄소,총질소,총인,클로로필-a,수온,수소이온농도,전기전도도,용존산소,탁도,미생물 독성지수,line,미생물_독성지수
0,20180101000000,한강,가평,2.018010e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20180101010000,한강,가평,2.018010e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20180507230000,한강,가평,2.018051e+13,2.45083,2.047,0.00383,51.10833,16.35000,8.36083,116.54167,11.20,3.57500,-0.02000,NaN,NaN
3,20180508000000,한강,가평,2.018051e+13,2.39142,2.053,0.00400,49.49167,16.19167,8.29167,116.40833,11.05,3.40833,0.91583,NaN,NaN
4,20180508010000,한강,가평,2.018051e+13,2.39092,2.050,0.00358,48.74167,16.10000,8.29833,117.00000,11.00,3.28333,0.76250,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
0,2019.01.01 00:00,NaN,가평,NaN,1.40000,1.771,0.00400,3.80000,2.80000,6.80000,97.00000,12.60,0.50000,NaN,NaN,4.5
1,2019.01.01 01:00,NaN,가평,NaN,1.40000,1.812,0.00500,4.10000,2.80000,6.80000,97.00000,12.60,0.60000,NaN,NaN,2.5
2,2019.01.01 02:00,NaN,가평,NaN,1.40000,1.765,0.00300,3.80000,2.80000,6.80000,97.00000,12.60,0.40000,NaN,NaN,1.0
3,2019.01.01 03:00,NaN,가평,NaN,1.40000,1.775,0.00500,3.90000,2.70000,6.80000,97.00000,12.60,0.50000,NaN,NaN,1.0
4,2019.01.01 04:00,NaN,가평,NaN,1.40000,1.774,0.00400,3.90000,2.80000,6.80000,97.00000,12.50,0.50000,NaN,NaN,-0.4
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
0,2019.01.01 00:00,NaN,서상,NaN,1.50000,1.450,0.01100,NaN,1.20000,7.50000,91.00000,13.80,0.50000,NaN,NaN,NaN
1,2019.01.01 01:00,NaN,서상,NaN,1.50000,1.443,0.00800,NaN,1.10000,7.50000,92.00000,14.00,0.50000,NaN,NaN,NaN
2,2019.01.01 02:00,NaN,서상,NaN,1.60000,1.457,0.00700,NaN,1.00000,7.50000,92.00000,13.90,0.50000,NaN,NaN,NaN
3,2019.01.01 03:00,NaN,서상,NaN,1.60000,1.471,0.00900,NaN,0.90000,7.50000,91.00000,13.80,0.50000,NaN,NaN,NaN
4,2019.01.01 04:00,NaN,서상,NaN,1.50000,1.475,0.01100,NaN,1.00000,7.50000,91.00000,13.80,0.50000,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
0,2019.01.01 00:00,NaN,의암호,NaN,1.30000,1.469,0.00100,8.00000,3.00000,7.20000,91.00000,12.20,0.70000,NaN,NaN,NaN
1,2019.01.01 01:00,NaN,의암호,NaN,1.30000,1.526,0.00200,8.10000,3.00000,7.20000,91.00000,12.10,0.80000,NaN,NaN,NaN
2,2019.01.01 02:00,NaN,의암호,NaN,1.30000,1.623,0.00200,8.20000,3.00000,7.20000,91.00000,12.10,0.80000,NaN,NaN,NaN
3,2019.01.01 03:00,NaN,의암호,NaN,1.30000,1.637,0.00300,8.40000,3.10000,7.20000,90.00000,12.10,0.80000,NaN,NaN,NaN
4,2019.01.01 04:00,NaN,의암호,NaN,1.30000,1.563,0.00200,8.50000,3.10000,7.20000,90.00000,12.10,0.80000,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
0,2019.01.01 00:00,NaN,화천,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019.01.01 01:00,NaN,화천,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.07.23 18:00,NaN,화천,NaN,2.40000,NaN,0.00800,NaN,29.20000,8.90000,125.00000,9.40,2.00000,NaN,NaN,NaN
3,2019.07.23 19:00,NaN,화천,NaN,2.40000,0.757,0.01100,NaN,29.10000,8.80000,125.00000,9.30,2.10000,NaN,NaN,NaN
4,2019.07.23 20:00,NaN,화천,NaN,2.40000,0.718,0.01400,NaN,28.80000,8.90000,125.00000,9.10,1.80000,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN