In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
target_col = [2,3,4]
target_col

[2, 3, 4]

In [3]:
dn = pd.DataFrame(data={'line': ['0']})

In [4]:
dir_list = glob.glob("./data/mini_sample/*.xlsx")
dir_list

['./data/mini_sample\\가평_2019.xlsx',
 './data/mini_sample\\서상_2019.xlsx',
 './data/mini_sample\\의암호_2019.xlsx',
 './data/mini_sample\\화천_2019.xlsx']

In [38]:
df_list = []
for f in dir_list:
    df = pd.read_excel(f)
    df_list.append(df)
    # df_list.append(dn)
    print(df.columns.tolist())

['측정날짜', '측정소명', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인', '클로로필-a', '미생물_독성지수']
['측정날짜', '측정소명', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인', '클로로필-a']
['측정날짜', '측정소명', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인', '클로로필-a']
['측정날짜', '측정소명', '수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인']

In [28]:
target = None
result = None
for df in df_list:
    if target == None:
        target = set(df.columns.tolist()[2:])
    else:
        result = target & set(df.columns.tolist()[2:])
        target = set(df.columns.tolist()[2:])
    print(df.columns.tolist()[2:])
print(result)

['수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인', '클로로필-a', '미생물_독성지수']
['수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인', '클로로필-a']
['수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인', '클로로필-a']
['수온', '수소이온농도', '전기전도도', '용존산소', '탁도', '총유기탄소', '총질소', '총인']
{'총인', '총유기탄소', '총질소', '수소이온농도', '탁도', '수온', '용존산소', '전기전도도'}

In [43]:
df_list[3].columns.size

10

In [6]:
pd.concat([df_list[0], df_list[1], df_list[2], df_list[3], df_list[4]])

,측정날짜,측정소명,수온,수소이온농도,전기전도도,용존산소,탁도,총유기탄소,총질소,총인,클로로필-a,미생물_독성지수,line
0,2019.01.01 00:00,가평,2.8,6.8,97.0,12.6,0.5,1.0,11.0,0.004,3.8,4.5,NaN
1,2019.01.01 01:00,가평,2.8,6.8,97.0,12.6,0.6,2.0,22.0,0.005,4.1,2.5,NaN
2,2019.01.01 02:00,가평,2.8,6.8,97.0,12.6,0.4,3.0,33.0,0.003,3.8,1.0,NaN
3,2019.01.01 03:00,가평,2.7,6.8,97.0,12.6,0.5,4.0,44.0,0.005,3.9,1.0,NaN
4,2019.01.01 04:00,가평,2.8,6.8,97.0,12.5,0.5,5.0,55.0,0.004,3.9,-0.4,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
0,2019.01.01 00:00,서상,1.2,7.5,91.0,13.8,0.5,1.0,11.0,0.011,NaN,NaN,NaN
1,2019.01.01 01:00,서상,1.1,7.5,92.0,14.0,0.5,2.0,22.0,0.008,NaN,NaN,NaN
2,2019.01.01 02:00,서상,1.0,7.5,92.0,13.9,0.5,3.0,33.0,0.007,NaN,NaN,NaN
3,2019.01.01 03:00,서상,0.9,7.5,91.0,13.8,0.5,4.0,44.0,0.009,NaN,NaN,NaN
4,2019.01.01 04:00,서상,1.0,7.5,91.0,13.8,0.5,5.0,55.0,0.011,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
0,2019.01.01 00:00,의암호,3.0,7.2,91.0,12.2,0.7,1.0,11.0,0.001,8.0,NaN,NaN
1,2019.01.01 01:00,의암호,3.0,7.2,91.0,12.1,0.8,2.0,22.0,0.002,8.1,NaN,NaN
2,2019.01.01 02:00,의암호,3.0,7.2,91.0,12.1,0.8,3.0,33.0,0.002,8.2,NaN,NaN
3,2019.01.01 03:00,의암호,3.1,7.2,90.0,12.1,0.8,4.0,44.0,0.003,8.4,NaN,NaN
4,2019.01.01 04:00,의암호,3.1,7.2,90.0,12.1,0.8,5.0,55.0,0.002,8.5,NaN,NaN

In [7]:
x = pd.concat(df_list).drop('line', axis=1)
x

,측정날짜,측정소명,수온,수소이온농도,전기전도도,용존산소,탁도,총유기탄소,총질소,총인,클로로필-a,미생물_독성지수
0,2019.01.01 00:00,가평,2.8,6.8,97.0,12.6,0.5,1.0,11.0,0.004,3.8,4.5
1,2019.01.01 01:00,가평,2.8,6.8,97.0,12.6,0.6,2.0,22.0,0.005,4.1,2.5
2,2019.01.01 02:00,가평,2.8,6.8,97.0,12.6,0.4,3.0,33.0,0.003,3.8,1.0
3,2019.01.01 03:00,가평,2.7,6.8,97.0,12.6,0.5,4.0,44.0,0.005,3.9,1.0
4,2019.01.01 04:00,가평,2.8,6.8,97.0,12.5,0.5,5.0,55.0,0.004,3.9,-0.4
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2019.01.01 00:00,서상,1.2,7.5,91.0,13.8,0.5,1.0,11.0,0.011,NaN,NaN
1,2019.01.01 01:00,서상,1.1,7.5,92.0,14.0,0.5,2.0,22.0,0.008,NaN,NaN
2,2019.01.01 02:00,서상,1.0,7.5,92.0,13.9,0.5,3.0,33.0,0.007,NaN,NaN
3,2019.01.01 03:00,서상,0.9,7.5,91.0,13.8,0.5,4.0,44.0,0.009,NaN,NaN
4,2019.01.01 04:00,서상,1.0,7.5,91.0,13.8,0.5,5.0,55.0,0.011,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2019.01.01 00:00,의암호,3.0,7.2,91.0,12.2,0.7,1.0,11.0,0.001,8.0,NaN
1,2019.01.01 01:00,의암호,3.0,7.2,91.0,12.1,0.8,2.0,22.0,0.002,8.1,NaN
2,2019.01.01 02:00,의암호,3.0,7.2,91.0,12.1,0.8,3.0,33.0,0.002,8.2,NaN
3,2019.01.01 03:00,의암호,3.1,7.2,90.0,12.1,0.8,4.0,44.0,0.003,8.4,NaN
4,2019.01.01 04:00,의암호,3.1,7.2,90.0,12.1,0.8,5.0,55.0,0.002,8.5,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2019.01.01 00:00,화천,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019.01.01 01:00,화천,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.07.23 18:00,화천,29.2,8.9,125.0,9.4,2.0,1.0,NaN,0.008,NaN,NaN
3,2019.07.23 19:00,화천,29.1,8.8,125.0,9.3,2.1,2.0,22.0,0.011,NaN,NaN
4,2019.07.23 20:00,화천,28.8,8.9,125.0,9.1,1.8,3.0,33.0,0.014,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
target_all_list = [n for n in range(2, x.columns.size)]
target_all_list

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [9]:
x.columns.tolist()[2:]

['수온',
 '수소이온농도',
 '전기전도도',
 '용존산소',
 '탁도',
 '총유기탄소',
 '총질소',
 '총인',
 '클로로필-a',
 '미생물_독성지수']

In [10]:
col_name_list = []
for t in [0,2,4,5]:
    col_name_list.append(x.columns.tolist()[t])
col_name_list

['측정날짜', '수온', '전기전도도', '용존산소']

In [11]:
x.loc[:, col_name_list]

               측정날짜    수온  전기전도도  용존산소
0  2019.01.01 00:00   2.8   97.0  12.6
1  2019.01.01 01:00   2.8   97.0  12.6
2  2019.01.01 02:00   2.8   97.0  12.6
3  2019.01.01 03:00   2.7   97.0  12.6
4  2019.01.01 04:00   2.8   97.0  12.5
0               NaN   NaN    NaN   NaN
0  2019.01.01 00:00   1.2   91.0  13.8
1  2019.01.01 01:00   1.1   92.0  14.0
2  2019.01.01 02:00   1.0   92.0  13.9
3  2019.01.01 03:00   0.9   91.0  13.8
4  2019.01.01 04:00   1.0   91.0  13.8
0               NaN   NaN    NaN   NaN
0  2019.01.01 00:00   3.0   91.0  12.2
1  2019.01.01 01:00   3.0   91.0  12.1
2  2019.01.01 02:00   3.0   91.0  12.1
3  2019.01.01 03:00   3.1   90.0  12.1
4  2019.01.01 04:00   3.1   90.0  12.1
0               NaN   NaN    NaN   NaN
0  2019.01.01 00:00   NaN    NaN   NaN
1  2019.01.01 01:00   NaN    NaN   NaN
2  2019.07.23 18:00  29.2  125.0   9.4
3  2019.07.23 19:00  29.1  125.0   9.3
4  2019.07.23 20:00  28.8  125.0   9.1
0               NaN   NaN    NaN   NaN

In [17]:
unif_random_matrix = np.random.uniform(0., 1., size = [3, 3])
unif_random_matrix

array([[0.04511929, 0.74748971, 0.26751228],
       [0.63618498, 0.83867719, 0.08724299],
       [0.45196422, 0.38177939, 0.27012603]])