In [1]:
import pandas as pd
import numpy as np

In [2]:
input = './data/normal.xlsx'

In [15]:
df = pd.read_excel(input)
df

   수온  수소이온농도  전기전도도  용존산소  탁도  총유기탄소  총질소  총인  클로로필-a  미생물_독성지수
0   1       2      3     4   1      1    2   3       4         1
1   1       2      3     4   2      1    2   3       4         1
2   1       2      3     4   3      1    2   3       4         1
3   1       2      3     4   4      1    2   3       4         1
4   1       2      3     4   5      1    2   3       4         1

In [18]:
df.mean(axis=0)

수온          1.0
수소이온농도      2.0
전기전도도       3.0
용존산소        4.0
탁도          3.0
총유기탄소       1.0
총질소         2.0
총인          3.0
클로로필-a      4.0
미생물_독성지수    1.0
dtype: float64

In [27]:
df.var(axis=0, ddof=0)

수온          0.0
수소이온농도      0.0
전기전도도       0.0
용존산소        0.0
탁도          2.0
총유기탄소       0.0
총질소         0.0
총인          0.0
클로로필-a      0.0
미생물_독성지수    0.0
dtype: float64

In [29]:
df.std(ddof=0)

수온          0.000000
수소이온농도      0.000000
전기전도도       0.000000
용존산소        0.000000
탁도          1.414214
총유기탄소       0.000000
총질소         0.000000
총인          0.000000
클로로필-a      0.000000
미생물_독성지수    0.000000
dtype: float64

In [38]:
M = df.mean()
M

수온          1.0
수소이온농도      2.0
전기전도도       3.0
용존산소        4.0
탁도          3.0
총유기탄소       1.0
총질소         2.0
총인          3.0
클로로필-a      4.0
미생물_독성지수    1.0
dtype: float64

In [39]:
S = df.std(ddof=0)
S

수온          0.000000
수소이온농도      0.000000
전기전도도       0.000000
용존산소        0.000000
탁도          1.414214
총유기탄소       0.000000
총질소         0.000000
총인          0.000000
클로로필-a      0.000000
미생물_독성지수    0.000000
dtype: float64

In [36]:
normalization_df = (df - df.mean())/df.std(ddof=0)
normalization_df.fillna(0)

    수온  수소이온농도  전기전도도  용존산소        탁도  총유기탄소  총질소   총인  클로로필-a  미생물_독성지수
0  0.0     0.0    0.0   0.0 -1.414214    0.0  0.0  0.0     0.0       0.0
1  0.0     0.0    0.0   0.0 -0.707107    0.0  0.0  0.0     0.0       0.0
2  0.0     0.0    0.0   0.0  0.000000    0.0  0.0  0.0     0.0       0.0
3  0.0     0.0    0.0   0.0  0.707107    0.0  0.0  0.0     0.0       0.0
4  0.0     0.0    0.0   0.0  1.414214    0.0  0.0  0.0     0.0       0.0

In [40]:
normalization_df = (df - M)/S
normalization_df.fillna(0)

    수온  수소이온농도  전기전도도  용존산소        탁도  총유기탄소  총질소   총인  클로로필-a  미생물_독성지수
0  0.0     0.0    0.0   0.0 -1.414214    0.0  0.0  0.0     0.0       0.0
1  0.0     0.0    0.0   0.0 -0.707107    0.0  0.0  0.0     0.0       0.0
2  0.0     0.0    0.0   0.0  0.000000    0.0  0.0  0.0     0.0       0.0
3  0.0     0.0    0.0   0.0  0.707107    0.0  0.0  0.0     0.0       0.0
4  0.0     0.0    0.0   0.0  1.414214    0.0  0.0  0.0     0.0       0.0

In [42]:
normalization_df = normalization_df*S+M
normalization_df.fillna(0)

    수온  수소이온농도  전기전도도  용존산소   탁도  총유기탄소  총질소   총인  클로로필-a  미생물_독성지수
0  0.0     0.0    0.0   0.0  1.0    0.0  0.0  0.0     0.0       0.0
1  0.0     0.0    0.0   0.0  2.0    0.0  0.0  0.0     0.0       0.0
2  0.0     0.0    0.0   0.0  3.0    0.0  0.0  0.0     0.0       0.0
3  0.0     0.0    0.0   0.0  4.0    0.0  0.0  0.0     0.0       0.0
4  0.0     0.0    0.0   0.0  5.0    0.0  0.0  0.0     0.0       0.0