In [8]:
import pandas as pd

In [23]:
df = pd.DataFrame(data=[
  {'Name': "panda", 'Age': 5,},
  {'Name': "usagi", 'Age': 11,},
  {'Name': "koara", 'Age': 45}
])
df

    Name  Age
0  panda    5
1  usagi   11
2  koara   45

In [27]:
df.loc[-1] = df.columns.values.tolist()
df.index = df.index + 1
df.sort_index(inplace=True) 
df.columns = ['2020-12-01', '']
df

  2020-12-01
0       Name  Age
1      panda    5
2      usagi   11
3      koara   45

In [20]:
df.to_excel("test.xlsx", index=False)